<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  	<listener class-name="au.com.sudeera.seleniumtest.TestListener"></listener>
  </listeners>
  <test thread-count="5" name="Test">
  	<parameter name="email" value="mumbo_s5@yahoo.com"></parameter>
  	<parameter name="password" value="aaaa"></parameter>
    <classes>
      <class name="au.com.sudeera.seleniumtest.FacebookTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
